@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

#nav-bar {
    background-color: gray;
    padding: 10px;
    position: fixed;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}